<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(felix-mooneeram-evlkOfkQ5rE-unsplash.jpg);">
  <div class="container">
    <h2>Save any kind of movies</h2>
    <p>Classic</p>
  </div>
</div>

<h1>My Lists</h1>

<% @lists.each do |list| %>
<%= list.name %>
<% end %>

<br>

<%= link_to 'Create a movie list', new_list_path %>
